@import '../../styles/variables';
@import '../../styles/mixins-mediaqueries';
@import '../../styles/mixins-btns';

.Register {
  width: 96%;
  max-width: 87.5rem;
  margin: 1rem auto 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  @include respond-to('medium'){
    margin: 4rem auto 0;
  }

  @include respond-to('large'){
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  &-form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include respond-to('medium'){
      width: 70%;
    }  

    @include respond-to('large'){
      width: 35%;
    }  
  }

  &-h2 {
    align-self: center;
  }

  &-label {
    display: flex;
    align-items: center;
  }

  &-input {
    border: none;
    border-bottom: 1px solid $gray-color;
    padding: 1rem .5rem;
    outline: none;
    width: 100%;
    font-weight: 600;

    &:focus {
      border-color: $black-color;
    }

    @include respond-to('large'){
    }
  
  }

  &-img {
    width: 100%;
    padding: 2rem;

    @include respond-to('medium'){
      width: 50%;
    }

    @include respond-to('large'){
      width: 30%;
    }  
  }

  &-condition {
    font-size: .9rem;
  }

  &-condition-active {
    color: red;
    font-size: .9rem;
    font-weight: bold;
  }

  &-submit {
    width: 100%;
    margin-top: 2rem;
    border: none;
    background-color: $secondary-color;
    color: white;
    padding: 1rem 0;
    @include transitions(.3s);
    font-size: 1rem;

    &:hover {
      background-color: $black-color;
    }
  }

  &-submit-exit {
    width: 100%;
    margin-top: 2rem;
    border: none;
    background-color: $green-color;
    color: white;
    padding: 1rem 0;
    @include transitions(.3s);
    font-size: 1rem;
    user-select: none;
  }

  &-svg {
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 1rem;
    cursor: pointer;
  }

  &-message {
    position: absolute;
    left: 0;
    background-color: $black-color;
    color: white;
    font-size: .9rem;
    padding: 1rem;
    z-index: 500;
  }

  &-login {
    display: flex;
    justify-content: center;
  }

  &-loginbtn {
    font-size: .9rem;
    text-decoration: underline;
    color: $secondary-color;
  }

}