.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  background-color: var(--color-cards);
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  border-radius: var(--border-radius-base);
}

.card-icon {
  width: 3rem;
}

.paragraph-cards {
  line-height: 1.7;
  padding: 0 1.5rem;
}

.title-paragraph-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.span-cards {
  font-weight: 400;
  color: var(--color-white);
  font-family: var(--font-primary);
}

.paragraph-cards {
  font-family: var(--font-primary);
  color: var(--color-gray);
  font-weight: 200;
  font-size: .9rem;
}


@media 
  (width >= 770px) {
    .span-cards {
      font-size: 1.1rem;
      font-weight: 400;
    } 

    .paragraph-cards {
      line-height: 1.7;
      padding: 0 4rem;
      font-size: 1rem;
    }
  }

@media 
 (width >= 1280px) {

  .cards {
    justify-content: center;
    height: 350px;
  }
  
  .paragraph-cards {
    padding: 0 1rem;
  }
}
