@import '../../styles/variables';
@import '../../styles/mixins-mediaqueries';

.Header {
  width: 100%;
  position: relative;
  
  .Wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  &-h1 {
    font-weight: 800;
    font-size: 2rem;
  }
  
  &-logo{
    color: $primary-color;
  }

  &-nav{
    display: none;

    @include respond-to('medium'){
      display: block;
    };
  }

  &-ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  &-btn{ 
    border: none;
    background-color: transparent;

    @include respond-to('medium') {
      display: none;
    }
  }

  &-svg{
    width: 2.3rem;
    height: 2rem;
  }

  &-link-pc{
    color: $black-color;


  }

  &-register {
    background-color: $black-color;
    padding: .5rem 1.5rem;
    color: white; 
  }

  // nav mobile

  &-navmobile {
    position: absolute;
    width: 100vw;
    height: 400px;
    top: 4.5rem;
    left: 0;
    padding: 1rem;
    background-color: $black-color;

    @include respond-to('medium') {
      display: none;
    }
  }
}