@import './../../../../styles/mixins-btns';
@import './../../../../styles/variables';

.LastParagraph {
  width: 96%;
  max-width: 87.5rem;
  margin: 5rem auto ;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 2rem 0;

&-p {
  line-height: 1.7;
}

&-a {
  display: inline-block;
  margin-top: 1.5rem;
  align-self: center;
  // max-width: 30%;
  background-color: $primary-color;
  padding: 1rem 4rem;
  color: white;

  &:hover {
    @include transitions(.3s);
    background-color: $black-color;
  }
}

&-h6 {
  font-size: 1.8rem;
  // text-align:   center;
}
}