@import './../src/styles/variables';
@import './styles/mixins-mediaqueries';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  min-width: 375px;
}

button {
  cursor: pointer;
}

* {
  font-family: $font;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

p {
  color: $black-color;
}

a,
a:active, 
a:visited {
  text-decoration: none;
}

.Wrapper {
  width: 96%;
  max-width: 87.5rem;
  margin: auto;
}
