@import '../../../../styles//variables';
@import '../../../../styles//mixins-mediaqueries';

.Banner {
  width: 96%;
  max-width: 87.5rem;
  min-height: 50vh;
  padding: 4rem 0;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;

  @include respond-to('medium') {
    flex-flow: row nowrap;
    gap: 2rem;
    text-align: start;
  }

  // @include respond-to('large')

  .Banner-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .Banner-h3 {
    font-size: map-get($font-sizes, 'small' );
    color: $black-color;

      @include respond-to('medium') {
        font-size: 2.4rem;
        font-weight: 800;
      }

  }

  .Banner-span {
    color: $primary-color;
    font-weight: bold;
    margin-top: 1rem;
  }

  .Banner-p {
    line-height: 1.7;
  }

  .Banner-img {
    width: 85%;

      @include respond-to('medium') {
        width: 40%;
      }

        @include respond-to('large') {
          width: 50%;
        }
  }
}
